@import "tailwindcss";



@theme {
  --color-header: "#4DB6AC",
    --color-button: "#FF7F50",
    --color-badge: "#F5E050"
    --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}